{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
           <div class="col">
                <h1 class="heading heading--top">Shopping bag</h1>
            </div>
        </div>
        <div class="row">
           <div class="cart col-12 col-lg-10 col-xl-8">
                {% if cart %}
                <div class="row">
                    <div class="cart-products col-12 col-md-7">
                        <div class="cart-container cart-container--products">
                            {% for item in cart %}
                                <div class="cart-product">
                                    {% with product=item.product %}
                                        <img class="cart-product__img" src="/media/{{ item.image.image }}" alt="">
                                        <div class="cart-product__details">
                                            <p>{{ product.name }}</p>
                                            <p class="cart-product__price">£{{ item.price }}</p>
                                            <form class="cart-product__form" action="{% url 'cart_add' product.id %}" method="post">
                                                {% csrf_token %}
                                                <div class="cart-product__form-select">
                                                    <label for="size-update">Size:</label>
                                                    <select name="size" id="size-update" required>
                                                        {% for size in item.all_sizes %}
                                                            <option value="{{ size.size }}"{% if size not in item.sizes_available and size.size != item.size %}disabled{% endif %} {% if size.size == item.size %}selected{% endif %}>
                                                                {{ size.size }}{% if size not in item.sizes_available and size.size != item.size %} - Out of stock{% endif %}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                    <label for="id_quantity">Quantity:</label>
                                                    {{ item.update_quantity_form.quantity }}
                                                    {{ item.update_quantity_form.update }}
                                                </div>
                                                <div class="cart-product__buttons">
                                                    <button class="button cart-product__button cart-product__button--update" type="submit">Update</button>
                                                    <p class="cart-product__button cart-product__button--cancel">Cancel</p>
                                                </div>
                                                <p class="cart-error-message">Quantity is not available</p>
                                            </form>
                                        </div>
                                        <a href="{% url "cart_remove" product.id item.size %}" class="cart-remove"><i class="fa fa-close" aria-hidden="true"></i></a>
                                    {% endwith %}
                                </div>
                            {% endfor %}
                            <p class="cart-subtotal"><span>Subtotal</span> <span class="price--subtotal">£{{ cart.get_subtotal_price }}</span></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="cart-container cart-container--total">
                            <div class="cart-prices">
                                <p><span>Subtotal</span> <span class="price price--subtotal">£{{ cart.get_subtotal_price }}</span></p>
                                <p><span>Delivery</span> <span class="price price--delivery">£{{ cart.get_delivery_price }}</span></p>
                            </div>
                            <div class="cart-total">
                                <p><span>Total</span> <span class="price price--total">£{{ cart.get_total_price }}</span></p>
                            </div>
                            <a href="{% url 'checkout' %}" class="button button--checkout">Checkout</a>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="cart-empty">
                        <p>Your shopping bag is empty.</p>
                        <a href="{% url 'products_list' %}" class="button">Shop now</a>
                    </div>
                {% endif %}
           </div>
        </div>
    </div>
{% endblock %}