{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
           <div class="col">
                <h1 class="heading heading--top">My details</h1>
            </div>
        </div>
        <div class="row">
           <div id="account-content" class="col-sm-12 col-lg-10 col-xl-8">
               <div class="row">
                   <div id="account-nav" class="col-sm-12 col-md-2">
                       <div class="account-nav-item account-nav-item--underline">
                           <a href="{% url 'account' %}">My details</a>
                       </div>
                       <div class="account-nav-item">
                           <a href="{% url 'account' %}">My orders</a>
                       </div>
                   </div>
                   <div id="account-details" class="col-sm-12 col-md-5">
                       <h2 class="account-heading">Personal details</h2>
                       <div class="section-container">
                           <p>Your password has been changed successfully!</p>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
{% endblock %}