/* Elements */
html {
    font-size: 14px;
}

body {
    font-family: 'Karla', sans-serif;
    -webkit-font-smoothing: antialiased;
}

p {
    margin: 0;
}

.button {
    font-family: 'Karla', sans-serif;
    font-size: 1.071rem;
    padding: 4px 12px;
    background-color: #C08329;
    color: white;
    border: solid 3px #C08329;
    -webkit-appearance: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.25s ease-in;
}

.button:active,
.button:hover,
.button:focus,
.button:visited {
    outline: none;
}

.button:hover,
.button:focus {
    background: #a36f23;
    border: solid 3px #a36f23;
    cursor: pointer;
}

@media (min-width: 768px) {
    html {
        font-size: 15px;
    }

    .button {
        font-size: 1.133rem;
        padding: 3px 20px;
    }
}

/* Header */

#navigation {
    display: none;
}

#mobile-header {
    background: white;
    position: fixed;
    width: 100%;
    height: 70px;
    backface-visibility: hidden;
    z-index: 2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo--main {
    display: none;
}

.logo--mobile {
    position: absolute;
    top: 10px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 50px;
}

.navbar {
    background: white;
    padding: 0;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item {
    color: black;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}

.nav-item .nav-link.nav-link,
.dropdown-item {
    padding: 14px 15px;
}

.nav-item,
.dropdown-item {
    border-bottom: solid 1px rgba(0,0,0,0.2);
}

.nav-link:active,
.dropdown-item:active {
    background: #C08329;
    color: white!important;
}

.dropdown-menu {
    border: none;
    min-width: 100%;
    margin: 1px 0 5px 0;
    padding: 0 0 0 10px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle .fa-angle-down {
    float: right;
    font-weight: 700;
    padding: 4px 0;
}

#main-menu-icons {
    display: none;
}

.move-down-shop {
    margin-top: 255px;
}

.move-down-account {
    margin-top: 155px;
}

.icon-name,
.icon-container {
    display: inline-block;
    vertical-align: middle;
}

.icon-container--bag {
    float: right;
    padding: 10px 0;
}

.fa.fa-bars,
.fa.fa-shopping-bag {
    font-size: 2rem;
}

.icon-container--bag,
#account-menu {
    color: black;
}

.icon-container--bag:hover,
.icon-container--bag:focus,
#account-menu:visited,
#account-menu:active,
#account-menu:hover,
#account-menu:focus {
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

#after-header {
    height: 70px;
}

@media (min-width: 768px) {

    .dropdown.dropdown--account {
        display: none;
    }

    #mobile-header {
        display: none;
    }

    #main-header {
        background: white;
        padding-top: 5px;
        z-index: 2;
        position: fixed;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo--main {
        display: block;
        margin: 0 auto;
        height: 70px;
        width: 250px;
        transition: all ease-in 0.1s;
    }

    .logo--main-small {
        height: 45px;
    }

    #main-menu,
    .navbar-nav {
        display: inline-block!important;
    }

    .navbar {
        height: 40px;
        text-align: center;
        padding: 0.5rem 0;
    }

    .nav-item .nav-link.nav-link {
        padding: 0 13px;
    }

    .nav-item {
        border-bottom: none;
    }

    #main-menu {
        text-align: center;
    }

    .nav-item,
    #main-menu-icons,
    .icon-name,
    .icon-container {
        display: inline-block;
        vertical-align: middle;
    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 1.133rem;
    }

    .dropdown-toggle .fa-angle-down {
        float: none;
        margin-left: 5px;
        margin-right: 0;
        padding: 0;
    }

    .dropdown-menu {
        border: solid 1px rgba(0,0,0,0.2);
        min-width: 100%;
        margin: 0;
        padding: 5px 0 0;
    }

    .dropdown-menu .dropdown-item {
        font-size: 1rem;
        text-transform: none;
        padding: 0 15px 5px;
    }

    .nav-item,
    .dropdown-menu .dropdown-item {
        border-bottom: none;
    }

    .nav-link:active {
        background: none;
        color: rgba(0,0,0,.7)!important;
    }

    #main-menu-icons {
        min-width: 125px;
        position: absolute;
        right: 15px;
    }

    .icon-container--bag {
        padding: 0;
    }

    .fa {
        margin-right: 5px;
    }

    .fa.fa {
        font-size: inherit;
    }

    .icon-name--hide {
        display: none;
    }

    #after-header {
        height: 115px;
    }
}

@media (min-width: 992px) {
    #main-menu-icons {
        min-width: 180px;
    }

    .icon-container--account {
        margin-right: 22px;
    }

    .icon-name--hide {
        display: inline;
    }
}

/* Slideout.js */

body {
    width: 100%;
    height: 100%;
}

.slideout-menu {
  position: fixed;
    top: 0;
    bottom: 0;
    width: 256px;
    min-height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: white; /* A background-color is required */
    min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.btn-hamburger {
    height: 50px;
    -webkit-appearance: none;
    border: none;
    background: none;
}

@media screen and (min-width: 768px) {
    .slideout-menu {
        display: block;
        position: relative;
        top: auto;
        bottom: auto;
        width: auto;
        min-height: auto;
        overflow-y: visible;
        -webkit-overflow-scrolling: touch;
    }

    .btn-hamburger {
        display: none;
    }
}

/* Homepage delivery info*/

#promotion {
    height: 35px;
    text-align: center;
    color: rgba(255,255,255,0.9);
    background: black;
    padding: 6px 0;
}

/* Homepage banner */

.slick-arrow {
    display: none;
}

.slick-arrow:before {
    font-family: 'FontAwesome';
    font-size: 22px;
    font-weight: 400;
}

.slick-next {
    right: 15px;
}

.slick-prev {
    left: 15px;
    z-index: 5;
}

.slick-prev:before,
.slick-next:before {
    color: #C08329;
}

.slick-prev:before {
    content: "";
}

.slick-next:before {
    content: "";
}

#home-banner:hover .slick-arrow,
#home-banner:focus .slick-arrow {
    display: block;
}

.slick-next,
.slick-prev {
    opacity: 1;

}
.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
    opacity: 1;
}

#home-banner .slick-arrow {
    font-size: 1.714rem;
    font-weight: 700;
    width: 35px;
    height: 35px;
    color: #C08329;
    transition: all 0.25s ease-in;
}

#home-banner .slick-arrow:hover,
#home-banner .slick-arrow:focus {
    background: rgba(255,255,255,0.9);
}

.slider-item {
    position: relative;
    outline: none;
    overflow: hidden;
}

.slider-item .slider-caption {
    position: absolute;
    padding-top: 20px;
    padding-bottom: 10%;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: 0;
    left: 0;
}

.slider-caption--heading {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.643rem;
}

.slider-caption--tagline {
    font-size: 1.071rem;
    margin-bottom: 20px;
}

.slick-slider {
    width: 100%;
}

.slick-slider img {
    width: 100%;
    height: 100%;
}

#home-banner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0s ease;
    -webkit-transition: opacity 0s ease;
    margin-bottom: 30px;
}

#home-banner.slick-initialized {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 480px) {
    .slider-item {
        height: 270px;
    }

    .slick-slider img {
        width: auto;
        height: 270px;
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) {
    #promotion {
        height: 40px;
        padding: 8px 0;
    }

    #home-banner .slick-prev .slick-arrow {
        margin-right: 70%;
    }

    #home-banner .slick-next .slick-arrow {
        margin-left: 70%;
    }

    #home-banner .slick-arrow {
        font-size: 1.6rem;
    }

    .slider-caption--heading {
        font-size: 2.133rem;
    }

    .slider-caption--tagline {
        font-size: 1.533rem;
    }

    .slider-item .slider-caption {
        width: auto;
        display: block;
        text-align: center;
    }

    .slider-item--one .slider-caption {
        top: 15%;
        left: 45%;
    }

    .slider-item--two .slider-caption {
        top: 20%;
        left: 10%;
        right: unset;
        bottom: unset;
    }

    .slider-item {
        height: auto;
    }
}

@media screen and (min-width: 992px) {
    .slider-item--one .slider-caption {
        top: 20%;
        left: 55%;
    }

    .slider-item--two .slider-caption {
        left: 20%;
    }
}

/* Homepage content */

#collections {
    margin: 0 auto 30px;
    text-align: center;
}

.collection,
.collection-img-container {
    width: 270px;
}

.collection {
    margin: 0 15px;
    display: inline-block;
    vertical-align: middle;
}

.collection-img-container {
    position: relative;
    height: 280px;
    margin-bottom: 10px;
    overflow: hidden;
}

.heading {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1.643rem;
    font-weight: 700;
}

.collections-heading {
    margin-bottom: 20px;
}

.collection {
    margin-bottom: 20px;
}

.collection-heading {
    font-size: 1.286rem;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.collection-description {
    margin-bottom: 10px;
    line-height: 1.214rem;
    padding: 0 20px;
}

.collection-img {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    width: 100%;
}

.collection-img-shoes {
    top: -40%;
}

@media screen and (min-width: 768px) {
    #collections {
        margin: 0 auto 40px;
    }

    .heading {
        font-size: 1.867rem;
    }

    .collections-heading {
        margin-bottom: 30px;
    }

    .collection-heading {
        font-size: 1.4rem;
    }

    .collection-description {
        margin-bottom: 15px;
        line-height: 1.2rem;
        padding: 0 20px;
    }

    .collection {
        margin-bottom: 30px;
    }

    .collection-img-container {
        margin-bottom: 15px;
    }
}