{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gorgeous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
    <link href="{% static "lib/css/nouislider.min.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <script src="https://use.fontawesome.com/9dd4c10b88.js"></script>
</head>
<body>
    <header id="main-header" class="clearfix container-fluid">
        <img class="logo logo--main" src="{% static "images/logo.svg" %}" alt="logo">
        <nav id="navigation" class="navbar navbar-light bg-faded">
            <div id="main-menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown dropdown--account">
                        <div class="nav-link dropdown-toggle" id="account-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="account-menu">
                            {% if not user.is_authenticated %}
                                <a class="dropdown-item login-mobile" href="{% url 'login' %}">Login/Register</a>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'account' %}">My details</a>
                                <a class="dropdown-item" href="#">My orders</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown dropdown--shop">
                        <a class="nav-link dropdown-toggle" href="#" id="shop-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Shop<i class="fa fa-angle-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="shop-menu">
                            <a class="dropdown-item" href="{% url 'products_list' %}">All</a>
                            <a class="dropdown-item" href="/products/?category=coats">Coats</a>
                            <a class="dropdown-item" href="/products/?category=dresses">Dresses</a>
                            <a class="dropdown-item" href="/products/?category=shoes">Shoes</a>
                            <a class="dropdown-item" href="/products/?category=tops">Tops</a>
                            <a class="dropdown-item" href="/products/?category=trousers">Trousers</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
            <div id="main-menu-icons">
                <div class="icon-container icon-container--account">
                    <div class="dropdown">
                        <div class="dropdown-toggle" role="button" id="account-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i><span class="icon-name--hide">Account</span><i class="fa fa-angle-down" aria-hidden="true"></i>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="account-menu">
                            {% if not user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'login' %}">Login/Register</a>
                            {% endif %}
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'account' %}">My details</a>
                                <a class="dropdown-item" href="#">My orders</a>
                                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <a href="#" class="icon-container icon-container--bag">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <p class="icon-name"><span class="icon-name--hide">Bag</span> (0)</p>
                </a>
            </div>
        </nav>
    </header>
    <header id="mobile-header" class="container-fluid">
        <button class="btn-hamburger"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <img class="logo logo--mobile" src="{% static "images/logo.svg" %}" alt="logo">
        <a href="#" class="icon-container icon-container--bag">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <p class="icon-name"><span class="icon-name__bag-items">(0)</span></p>
        </a>
    </header>
    <main id="main-content">
        <div id="after-header"></div>
        <div id="promotion">
            <p><u>FREE shipping</u> on orders over £75</p>
        </div>
    {% block content %}
    {% endblock %}
    </main>
    <footer id="main-footer" class="container-fluid">
        <div id="footer-links" class="row">
            <div class="col-sm-10 footer-links__container">
                <div class="row footer-links__sections">
                    <div class="col-6 col-md-4 footer-links__section-one">
                        <h3 class="heading heading--footer">Categories</h3>
                        <a href="/products/">All</a>
                        <a href="/products/?category=coats">Coats</a>
                        <a href="/products/?category=dresses">Dresses</a>
                        <a href="/products/?category=shoes">Shoes</a>
                        <a href="/products/?category=tops">Tops</a>
                        <a href="/products/?category=trousers">Trousers</a>
                    </div>
                    <div class="col-6 col-md-4 footer-links__section-two">
                        <h3 class="heading heading--footer">Any questions?</h3>
                        <a href="">About</a>
                        <a href="">Delivery</a>
                        <a href="">Returns</a>
                        <a href="">Contact Us</a>
                    </div>
                    <div class="col-12 col-md-4 footer-links__section-three">
                        <h3 class="heading heading--footer">Stay connected</h3>
                        <a class="sharing-icon" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a class="sharing-icon" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a class="sharing-icon" href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a class="sharing-icon" href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id ="footer-copyright" class="row">
            <div class="col copyright-info">
                <p>Copyright @ 2017 Gourgeous</p>
                <p>All rights reserved</p>
            </div>
        </div>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<script src="{% static "lib/js/nouislider.min.js" %}"></script>
<script src="{% static "lib/js/wNumb.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
</html>