{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
        <div id="home-banner">
            <div class="slider-item slider-item--one">
                <img src="{% static "images/home-banner-1.jpg"%}" alt="First slide">
                <div class="slider-caption">
                    <h2 class="slider-caption__heading">Dress Like a Queen</h2>
                    <p class="slider-caption__tagline">Create your gorgeous look!</p>
                    <a href="" class="button">Start shopping</a>
                </div>
            </div>
            <div class="slider-item slider-item--two">
                <img src="{% static "images/home-banner-2.jpg"%}" alt="Second slide">
                <div class="slider-caption">
                    <h2 class="slider-caption__heading">Fresh New Styles</h2>
                    <p class="slider-caption__tagline">New arrivals every week</p>
                    <a href="" class="button">Start shopping</a>
                </div>
            </div>
        </div>
        <div id="home-content" class="container-fluid">
            <div class="row">
                <div id="collections" class="col">
                    <h1 class="heading">Explore our collections</h1>
                    <div class="collection">
                        <a href="" class="collection__img-container img-container">
                            <img class="img-container__img" src="{% static "images/dress-01-1.jpg"%}" alt="">
                        </a>
                        <h2 class="collection__heading">It’s time for a new dress</h2>
                        <p class="collection__description">Refresh your look with our exclusive dresses.</p>
                        <a href="" class="button">Shop dresses</a>
                    </div>
                    <div class="collection">
                        <a href="" class="collection__img-container img-container">
                            <img class="img-container__img" src="{% static "images/coat-01-1.jpg"%}" alt="">
                        </a>
                        <h2 class="collection__heading">Get warm for winter!</h2>
                        <p class="collection__description">Check out our new collection of coats & jackets for this winter.</p>
                        <a href="" class="button">Shop coats</a>
                    </div>
                    <div class="collection">
                        <a href="" class="collection__img-container img-container">
                            <img class="collection__img-shoes img-container__img" src="{% static "images/shoes-01-1.jpg"%}" alt="">
                        </a>
                        <h2 class="collection__heading">Shoes for any occasion</h2>
                        <p class="collection__description">Complete your look with shoes for any occasion.</p>
                        <a href="" class="button">Shop shoes</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="home-parallax">
                    <div class="parallax-container">
                        <img src="{% static "images/parallax.jpg"%}" data-speed="1" class="parallax-img">
                        <div class="parallax-content">
                            <h2 class="parallax-heading">Be gorgeous</h2>
                            <p class="parallax-tagline">You deserve it</p>
                            <a href="" class="button">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 class="heading">Popular this week</h2>
                <div id="home-popular" class="col-sm-10">
                    <div class="slider-item slider-item--one">
                        <a href="" class="slider-item__container">
                            <img class="slider-item__img" src="{% static "images/dress-02-1.jpg"%}" alt="">
                            <p class="product-name">Flounce Marled Bodycon Dress</p>
                            <p class="product-price">£35</p>
                        </a>
                    </div>
                    <div class="slider-item slider-item--two">
                          <a href="" class="slider-item__container">
                              <img class="slider-item__img" src="{% static "images/top-01-1.jpg"%}" alt="">
                              <p class="product-name">Tiered Ruffle-Sleeve Top</p>
                              <p class="product-price">£17</p>
                        </a>
                    </div>
                    <div class="slider-item slider-item--three">
                        <a href="" class="slider-item__container">
                            <img class="slider-item__img" src="{% static "images/shoes-02-1.jpg"%}" alt="">
                            <p class="product-name">Faux Suede Embroidered Boots</p>
                            <p class="product-price">£29</p>
                        </a>
                    </div>
                    <div class="slider-item slider-item--four">
                        <a href="" class="slider-item__container">
                            <img class="slider-item__img" src="{% static "images/top-02-1.jpg"%}" alt="">
                            <p class="product-name">Tiered Flounce-Sleeve Mesh Top</p>
                            <p class="product-price">£15</p>
                        </a>
                    </div>
                    <div class="slider-item slider-item--five">
                        <a href="" class="slider-item__container">
                            <img class="slider-item__img" src="{% static "images/top-03-1.jpg"%}" alt="">
                            <p class="product-name">Semi-Sheer Floral Print Top</p>
                            <p class="product-price">£10</p>
                        </a>
                    </div>
                    <div class="slider-item slider-item--six">
                        <a href="" class="slider-item__container">
                            <img class="slider-item__img" src="{% static "images/dress-03-1.jpg"%}" alt="">
                            <p class="product-name">Velvet Off-The-Shoulder Dress</p>
                            <p class="product-price">£44</p>
                        </a>
                    </div>
                    <div class="slider-item slider-item--seven">
                        <a href="" class="slider-item__container">
                            <img class="slider-item__img" src="{% static "images/top-04-1.jpg"%}" alt="">
                            <p class="product-name">Plunging Self-Tie Crop Top</p>
                            <p class="product-price">£22</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}