{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
        <div id="home-banner">
            <div class="slider-item slider-item--one">
                <img src="{% static "images/home-banner-1.jpg"%}" alt="First slide">
                <div class="slider-caption">
                    <h3 class="slider-caption--heading">Dress Like a Queen</h3>
                    <p class="slider-caption--tagline">Create your gorgeous look!</p>
                    <button class="button">Start shopping</button>
                </div>
            </div>
            <div class="slider-item slider-item--two">
                <img src="{% static "images/home-banner-2.jpg"%}" alt="Second slide">
                <div class="slider-caption">
                    <h3 class="slider-caption--heading">Fresh New Styles</h3>
                    <p class="slider-caption--tagline">New arrivals every week</p>
                    <button class="button">Start shopping</button>
                </div>
            </div>
        </div>
        <div id="home-content" class="container-fluid">
            <div class="row">
                <div id="collections" class="col">
                    <h1 class="collections-heading heading">Explore our collections</h1>
                    <div class="collection">
                        <div class="collection-img-container">
                            <img class="collection-img" src="{% static "images/dress-01-1.jpg"%}" alt="">
                        </div>
                        <h2 class="collection-heading">It’s time for a new dress</h2>
                        <p class="collection-description">Refresh your look with our exclusive dresses.</p>
                        <button class="button">Shop dresses</button>
                    </div>
                    <div class="collection">
                        <div class="collection-img-container">
                            <img class="collection-img" src="{% static "images/coat-01-1.jpg"%}" alt="">
                        </div>
                        <h2 class="collection-heading">Get warm for winter!</h2>
                        <p class="collection-description">Check out our new collection of coats & jackets for this winter.</p>
                        <button class="button">Shop coats</button>
                    </div>
                    <div class="collection">
                        <div class="collection-img-container">
                            <img class="collection-img collection-img-shoes" src="{% static "images/shoes-01-1.jpg"%}" alt="">
                        </div>
                        <h2 class="collection-heading">Shoes for any occasion</h2>
                        <p class="collection-description">Complete your look with shoes for any occasion.</p>
                        <button class="button">Shop shoes</button>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}