{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
           <div class="col">
                <h1 class="heading heading--top">All clothing and shoes</h1>
            </div>
        </div>
        <div class="row">
            <div id="products-content" class="col-sm-12 col-xl-10">
                <div class="row">
                    <div id="products-nav" class="col">
                       <div id="sort-products">
                           <label for="sort">Sort by</label>
                           <select name="sort" id="sort">
                               <option value="new-in">New in</option>
                               <option value="low-to-high">Low to high</option>
                               <option value="high-to-low">High to low</option>
                           </select>
                       </div>
                       <button id="filter-products" class="filters-button">Filter</button>
                   </div>
                </div>
                <div class="row">
                    <div id="filters-container" class="col-sm-12 col-md-2">
                        <h3>Filter by</h3>
                        <div id="filters" role="tablist" aria-multiselectable="true">
                            <div class="filter">
                                <div class="filter-header" role="tab" id="category">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" data-parent="#filters" href="#filter-category" aria-expanded="false" aria-controls="filter-category">
                                            <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            <span>Category</span>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="filter-category" class="collapse" role="tabpanel" aria-labelledby="category">
                                    <div class="filter-block">
                                        {% for category in categories %}
                                            <label><input type="checkbox" name="category" value="{{ category.category }}" {% if category in selected_categories %} checked {% endif %}>{{ category.category }}</label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="filter">
                                <div class="filter-header" role="tab" id="size">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#filters" href="#filter-size" aria-expanded="false" aria-controls="filter-size">
                                            <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            <span>Size</span>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="filter-size" class="collapse" role="tabpanel" aria-labelledby="size">
                                    <div class="filter-block">
                                        {% for size in sizes %}
                                            <label><input type="checkbox" name="size" value="{{ size.size }}">{{ size.size }}</label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="filter">
                                <div class="filter-header" role="tab" id="color">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#filters" href="#filter-color" aria-expanded="false" aria-controls="filter-color">
                                            <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            <span>Color</span>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="filter-color" class="collapse" role="tabpanel" aria-labelledby="color">
                                    <div class="filter-block">
                                        {% for color in colors %}
                                            <label><input type="checkbox" name="color" value="{{ color.color }}">{{ color.color }}</label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="filter">
                                <div class="filter-header" role="tab" id="price">
                                    <h5 class="mb-0">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#filters" href="#filter-price" aria-expanded="false" aria-controls="filter-price">
                                            <i class="fa fa-sort-desc" aria-hidden="true"></i>
                                            <span>Price</span>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </a>
                                    </h5>
                                </div>
                                <div id="filter-price" class="collapse" role="tabpanel" aria-labelledby="price">
                                    <div class="filter-block">
                                        <p id="slider-snap-value-lower" class="price-value"></p>
                                        <p id="slider-snap-value-upper" class="price-value"></p>
                                        <div id="price-range"></div>
                                    </div>
                                </div>
                            </div>
                            <button id="reset-filters" class="filters-button">Reset</button>
                            <button id="close-filters" class="filters-button">Done</button>
                        </div>
                    </div>
                    <div id="products-list" class="col-sm-12 col-md-10">
                        {% for product in products %}
                            <a href="{% url 'product' product.product.id %}" class="product">
                                <img class="product__img" src="/media/{{ product.image.image }}" alt="">
                                <p class="product-name">{{ product.product.name }}</p>
                                <p class="product-price">£{{ product.product.price }}</p>
                            </a>
                        {% endfor %}
                        <div id="pagination">
                            <div class="pagination__current">
                                Showing items {{ products.start_index }}-{{ products.end_index }} of {{ products.paginator.count }}.
                            </div>
                            <div class="pagination__pages">
                                {% if products.has_previous %}
                                    <a class="pagination__page" href="?page={{ products.previous_page_number }}">{{ products.previous_page_number }}</a>
                                {% endif %}
                                    <div class="pagination__page pagination__page-current">{{ products.number }}</div>
                                {% if products.has_next %}
                                    <a class="pagination__page" href="?page={{ products.next_page_number }}">{{ products.next_page_number }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}